/* Styling goes here */
:root {
    /* colors */
    --white: #F9FCFF;
    --light-blue: #ADE8E8;
    --purple: #D1C4F1;
    --dark-blue: #123040;
    --sky-blue: 94C9DB;

    /* font size */
    --title: 3em;
    --subtitle: 1.5em;
    --text: 1em;
}

.todo-list {
    border: 1px solid black;
}

.workspace {
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5vh 5vw;
    column-gap: 2vw;
}

.todo-list {
    background-color: var(--purple);
    border-radius: 10px;
    width: 25vw;
    height: auto;
    padding: 1.5vh 1.5vw;

}