/* Styling goes here */
* {
    text-decoration: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}
:root {
    /* colors */
    --white: #F9FCFF;
    --light-blue: #ADE8E8;
    --purple: #D1C4F1;
    --dark-blue: #123040;
    --sky-blue: #94C9DB;

    /* font size */
    --title: 3em;
    --subtitle: 1.5em;
    --text: 1em;

    /* font family */
    --font-title: 'Times New Roman', Times, serif;
    --font-task:  Arial, Helvetica, sans-serif;
    
}

body {
    background-color: var(--white);
}

h1 {
    color: var(--dark-blue);
    font-size: var(--title);
    text-align: center;
    font-family: var(--font-title);
    padding: 10vh 10vw;
}

.workspace {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5vh 5vw;
    gap: 2vh 2vw;
}

.todo-list {
    background-color: var(--purple);
    border-radius: 10px;
    width: 30vw;
    height: auto;
    padding: 1.5vh 1.5vw;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    column-gap: 1vw;

}

.input {
    width: 100%;
    flex-grow: 2;
    border-radius: 10px;
    padding: 1vh 0 1vh 1vw;
}

.btn-add{
    flex-grow: 1;
    border-radius: 20px;
    font-size: var(--subtitle);
    width: 3vw;
}

.btn-add:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--dark-blue);
    color: var(--white);
}

.task-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

ul {
    list-style-type: none;
}

.task-list {
    padding-top: 5px;
    padding-bottom: 5px;
}

.task-name {
    flex-grow: 2;
    border-bottom:  .5px solid #123040;
    padding-left: 1vw;
    font-family: var(--font-task);
    color: var(--dark-blue);
}

.checkbox {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    background-color: var(--white);
    position: relative;
}

.checkbox:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.checkbox:checked {
    background-color: var(--white);
    cursor: pointer;
}

.checkbox:checked::after {
    content: '\2713'; /* Unicode character for check mark */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: var(--dark-blue);
}

.checkbox:checked + .task-name {
    text-decoration: line-through;
}

.delete-btn {
    font-size: var(--font-task);
    background-color: rgb(255, 0, 0, 0);
    text-align: center;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 50%;
    color: var(--dark-blue);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-btn::before {
    content: '\00D7'; /* Unicode character for multiplication sign */
    font-size: 2em;
}

.delete-btn:hover {
    color: var(--white);
}
